.container {
  height: 100%;
  align-items: flex-end;
  display: flex;
  padding-bottom: 10px;
  color: #2e2e2e;
}

.value {
  color: #ff7300;
}

.wrapperBanner {
  background: #e64f25;
  color: #e2e0d7;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperButton {
  margin-bottom: 60px;
}

.textInformation {
  width: 100%;
  text-align: center;
  color: #404041;
  font-size: 24px;
}

.accountButton {
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  vertical-align: middle;
  line-height: 1;
  color: #fff;
  border-color: #ff7300;
  border-style: solid;
  border-width: 1px;
  background-color: #ff7300;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
}

.errorInformation {
  width: 100%;
  color: red;
  font-size: 10px;
  margin-top: 16px;
  text-align: center;
}

.bannerTitle {
  font-size: 62px;
  line-height: 26px;
}

.bannerSubtitle {
  font-size: 42px;
  line-height: 26px;
}

.bannerText {
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}

.wrapperCashbackInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 120px;
  background: #e2e0d7;
}

.title {
  color: #e64f25;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 30px;
}

.wrapperIconList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1040px) {
  .wrapperIconList {
    flex-direction: column;
    gap: 26px;
  }
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperIcon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.iconTitle {
  color: #404041;
  text-transform: uppercase;
  margin: 16px 0 16px 0;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

.iconText {
  width: 100%;
  max-width: 120px;
  text-align: center;
  color: #e64f25;
  font-size: 18px;
  line-height: 130%;
}

.iconText2 {
  width: 100%;
  max-width: 150px;
  text-align: center;
  color: #e64f25;
  font-size: 18px;
  line-height: 130%;
}

.iconInfo {
  color: #404041;
  font-weight: 700;
}

.plusIcon {
  color: #e64f25;
}

.cartIcon {
  color: #e64f25;
}

.heartIcon {
  color: #e64f25;
}

.searchIcon {
  color: #e64f25;
}

.profileIcon {
  color: #e64f25;
}

.wrapperAccount {
  width: 100%;
  background: #e2e0d7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px 0 20px;
}

.wrapperPromotion {
  width: 100%;
  background: #b2102f;
  color: #ffffff;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 680px) {
  .wrapperPromotion {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

}

.promotionTitle {
  font-size: 100px;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

@media only screen and (max-width: 1040px) {
  .promotionTitle {
    font-size: 60px;
  }
}

@media only screen and (max-width: 360px) {
  .promotionTitle {
    font-size: 30px;
  }
}

.wrapperTitle {
  width: 60%;
  display: flex;
  justify-content: center;
}

.wrapperInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.promotionInfo {
  font-size: 50px;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

@media only screen and (max-width: 1040px) {
  .promotionInfo {
    font-size: 40px;
  }
}

@media only screen and (max-width: 360px) {
  .promotionInfo {
    font-size: 20px;
  }
}

.promotionText {
  font-size: 30px;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

@media only screen and (max-width: 1040px) {
  .promotionText {
    font-size: 24px;
  }
}

@media only screen and (max-width: 360px) {
  .promotionText {
    font-size: 16px;
  }
}
